@model Camping2015_2016.Models.GestionViewModel
@{
    Layout = "~/Views/Shared/_LayoutInscription.cshtml";
}

<!DOCTYPE html>

<html>

<body>
    <div class="content">
        <div class="container_12">

            <table>
                <tr>
                    <th>Emplacement</th>
                    <th> Type </th>
                    <th>Disponibilité</th>
                    <th>Parking</th>
                </tr>



                @foreach (var emplacement in Model.emplacements)
                {
                    <tr>
                        <td>@emplacement.Id</td>
                        <td>@emplacement.tente</td>
                        <td>@emplacement.disponible</td>
                        <td>@emplacement.parking</td>
                        <td>@Html.ActionLink("Modifier " + emplacement.disponible, "ModifierRestaurant", new { id = emplacement.parking })</td>
                    </tr>
                }
            </table>
            <br />
            <br />



            <table>
                <tr>

                    <th> id</th>
                    <th> Enfants </th>
                    <th>Adultes</th>
                    <th>Elec</th>
                    <th> Parking</th>
                    <th> Arrivee</th>
                    <th> depart</th>
                    <th> tente ?</th>
                    <th> validation</th>

                </tr>
                @foreach (var reservation in Model.reservations)
                {
                    <tr>

                        <td>@reservation.id</td>
                        <td>@reservation.nbrEnfants</td>
                        <td>@reservation.nbrAdultes</td>
                        <td>@reservation.supElectricite</td>
                        <td>@reservation.supParking</td>
                        <td>@reservation.arrivee.Date</td>
                        <td>@reservation.depart.Date</td>
                        <td>@reservation.tente</td>
                        <td>@reservation.validation</td>


                    </tr>
                }
            </table>

            <br />
            <br />

            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th> Date naissance </th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Rue</th>
                    <th>numero rue</th>
                    <th>telephone</th>
                    <th>email</th>
                    <th>mot de passe</th>
                </tr>
                @foreach (var utilisateur in Model.utilisateurs)
                {
                    <tr>
                        <td>@utilisateur.id</td>
                        <td>@utilisateur.nom</td>
                        <td>@utilisateur.prenom</td>
                        <td>@utilisateur.naissance</td>
                        <td>@utilisateur.codePostal</td>
                        <td>@utilisateur.ville</td>
                        <td>@utilisateur.rue</td>
                        <td>@utilisateur.numRue</td>
                        <td>@utilisateur.telephone</td>
                        <td>@utilisateur.email</td>
                        <td>@utilisateur.password</td>





                    </tr>
                }
            </table>

</div>
        </div>
</body>
</html>