@model List<Camping2015_2016.Models.Utilisateur>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion des utilisateurs</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th> Date naissance </th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Rue</th>
            <th>numero rue</th>
            <th>telephone</th>
            <th>email</th>
            <th>mot de passe</th>

        </tr>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td>@utilisateur.nom</td>
                <td>@utilisateur.prenom</td>
                <td>@utilisateur.naissance</td>
                <td>@utilisateur.codePostal</td>
                <td>@utilisateur.ville</td>
                <td>@utilisateur.rue</td>
                <td>@utilisateur.numRue</td>
                <td>@utilisateur.telephone</td>
                <td>@utilisateur.email</td>
                <td>@utilisateur.password</td>

                

            </tr>
        }
    </table>
</body>
</html>
